<div class="new-question">
    <a class="btn btn-outline-success" (click)="resetModal();" data-toggle="modal" data-target="#newQuestionModal"> {{isAdmin ? 'Add Question' : 'Submit Question'}}</a>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="newQuestionModal" tabindex="-1" role="dialog" aria-labelledby="newQuestionModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="questionTitle">Add a new Question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="questionForm">
                    <div formGroupName="questionHeader">
                        <div class="form-group">
                            <label for="questionText">Question Text</label>
                            <input required formControlName="questionText" id="questionText" type="text" class="form-control">
                        </div>
                    </div>
                    <div formArrayName="answers">
                        <h5>Answers</h5>
                        <div class="form-group" *ngFor="let answer of this.answerArr.controls; let i = index">
                            <input type="text" class="form-control" [formControlName]="i">
                        </div>
                        <i (click)="onAddOption()" class="fa fa-plus fa-3x"></i>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="closeModalButton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" (click)="addQuestion(questionForm);" class="btn btn-primary" [disabled]="!questionForm.valid">Save changes</button>
            </div>
        </div>
    </div>
</div>